<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tasfe.framework.crud.test.mysql.dao.UserMapper">
    <resultMap type="User" id="UserResult">
        <result property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
    </resultMap>

    <!-- <select id="login" parameterType="User" resultMap="UserResult">
         select * from
         ssm_user where userName=#{userName} and password=#{password} limit 1
     </select>-->

    <select id="getUser" parameterType="User" resultMap="UserResult">
        select * from t_user
        <where>
            id=#{id}
        </where>

    </select>



    <select id="findUsers" parameterType="Map" resultMap="UserResult">
        select * from t_user
        <where>
            <if test="userName!=null and userName!='' ">
                and userName like #{userName}
            </if>
        </where>
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <!--<select id="getTotalUser" parameterType="Map" resultType="Long">
        select count(*) from t_user
        <where>
            <if test="userName!=null and userName!='' ">
                and userName like #{userName}
            </if>
        </where>
    </select>

    <insert id="addUser" parameterType="User">
        insert into t_user(userName,password)
        values(#{userName},#{password})
    </insert>

    <update id="updateUser" parameterType="User">
        update t_user
        <set>
            <if test="userName!=null and userName!='' ">
                userName=#{userName},
            </if>
            <if test="password!=null and password!='' ">
                password=#{password}
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteUser" parameterType="Integer">
        delete from t_user
        where id=#{id}
    </delete>-->
</mapper>